.header-container {
    padding-top: 5px;
    width: 100vw;
    height: auto;
    text-align: center;
}

.header-container .logo {
    max-width: 85%;
    height: auto;
}

.header-container > .menu {
    position: relative;
    bottom: 20px;
}

.header-container > .menu .button {
    padding: 16px;
    font-size: 24px;
}

.header-container > .menu .text {
    font-size: 16px;
}