.header-container {
    width: 100vw;
    height: auto;
}

.header-container .logo {
    max-width: 100%;
    height: auto;
}

.header-container > .links-container {
    position: relative;
    bottom: 20px;
}