.header-container {
    padding-top: 5px;
    width: 100vw;
    height: auto;
    text-align: center;
}

.header-container .logo {
    max-width: 85%;
    height: auto;
}

.header-container > .links-container {
    position: relative;
    bottom: 20px;
}