.project-container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-container > .project-card {
    max-width: 340px;
    margin-bottom: 20px;
}

.project-container > .project-card .text-container {
    padding: 0 22px;
}

.project-container .text-container > .text {
    font-size: 12px;
}

.project-container > .project-card .button {
    font-size: 12px;
    padding: 8px 16px;
    margin: 0 auto 16px;
    max-width: 110px;
}