.button {
    display: block;
    text-align: center;
    text-decoration: none;
    background-color: var(--color-third);
    color: var(--color-first);
}

.button.-color-fourth {
    background-color: var(--color-fourth);
}

.button.-color-sixth {
    background-color: var(--color-sixth);
}