.button {
    text-align: center;
    background-color: var(--color-third);
    color: var(--color-first);
}

.button.-color-fourth {
    background-color: var(--color-fourth);
}

.button.-color-sixth {
    background-color: var(--color-sixth);
}

.button > .link {
    text-decoration: none;
    color: var(--color-first);
}