.project-card {
    border: 5px solid var(--color-third);
}

.project-card.-color-fourth {
    border: 5px solid var(--color-fourth);
}

.project-card.-color-fifth {
    border: 5px solid var(--color-fifth);
}

.project-card > .image {
    max-width: 100%;
}

.project-card > .text-container {
    text-align: center;    
}

.project-card > .text-container .sub-title {
    font-weight: 400;
}

.project-card > .text-container > .text {
    line-height: 22px;
}